Usage Data Parser/Usage Data Parser/obj/Debug/Usage_Data_Parser.Properties.Resources.resources
Usage Data Parser/Usage Data Parser/obj/Debug/Usage_Data_Parser.Form1.resources
Usage Data Parser/Usage Data Parser/obj/Debug/Usage Data Parser.pdb
Usage Data Parser/Usage Data Parser/obj/Debug/Usage Data Parser.exe
Usage Data Parser/Usage Data Parser/obj/Debug/Usage Data Parser.csprojAssemblyReference.cache
Usage Data Parser/Usage Data Parser/obj/Debug/Usage Data Parser.csproj.ResolveComReference.cache
Usage Data Parser/Usage Data Parser/obj/Debug/Usage Data Parser.csproj.GenerateResource.cache
Usage Data Parser/Usage Data Parser/obj/Debug/Usage Data Parser.csproj.FileListAbsolute.txt
Usage Data Parser/Usage Data Parser/obj/Debug/Usage Data Parser.csproj.CoreCompileInputs.cache
Usage Data Parser/Usage Data Parser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Usage Data Parser/Usage Data Parser/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Usage Data Parser/Usage Data Parser/bin/Debug/Usage Data Parser.pdb
Usage Data Parser/Usage Data Parser/bin/Debug/Usage Data Parser.exe.config
Usage Data Parser/Usage Data Parser/bin/Debug/Usage Data Parser.exe
Usage Data Parser/Usage Data Parser/UsageDataWords.cs
Usage Data Parser/.vs/Usage Data Parser/v16/TestStore/0/testlog.manifest
Usage Data Parser/.vs/Usage Data Parser/v16/TestStore/0/000-0000.testlog
Usage Data Parser/.vs/Usage Data Parser/v16/Server/sqlite3/storage.ide-wal
Usage Data Parser/.vs/Usage Data Parser/v16/Server/sqlite3/storage.ide-shm
Usage Data Parser/.vs/Usage Data Parser/v16/Server/sqlite3/storage.ide
Usage Data Parser/.vs/Usage Data Parser/v16/Server/sqlite3/db.lock
Usage Data Parser/.vs/Usage Data Parser/v16/.suo
